* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.image {
    display: inline-block;
}

.up-down-20px {
    margin: 20px 0;
}

.btn-blue {
    display: inline;
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
}

.btn-blue:hover {
    filter: brightness(1.5);
}

.btn-gray {
    display: inline;
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    background-color: white;
    padding: 10px 20px;
}


/* Header */

.top-header {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    box-shadow: 0 1px 2px #d0d0d0;
}

.top-left-header {
    float: left;
    width: calc(50% - 10px);
    height: 100%;
    line-height: 70px;
    font-size: 12px;
    border-bottom: 2px transparent;
}

.top-right-header {
    float: right;
    width: calc(50% - 10px);
    height: 100%;
    line-height: 70px;
    font-size: 12px;
    text-align: right;
}

#logo {
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.sezioni {
    display: inline;
    vertical-align: middle;
}

.sezioni>li {
    display: inline-block;
    margin: 0 20px;
}

.underline {
    border-bottom: 2px solid transparent;
}

.underline:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

.navigazione {
    display: inline-block;
}

.link {
    text-decoration: none;
    color: black;
    display: block;
}


/* Menu a Tendina */

.dropbtn {
    color: black;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    text-align: left;
    list-style-type: none;
    z-index: 1;
}

.dropdown-content li {
    padding: 0 10px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Jumbotron */

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;
    height: 600px;
}

.title {
    font-size: 3.5em;
}

.text-area {
    font-size: 12px;
}

.text {
    padding: 20px 0;
    font-size: 12px;
}

#jumbo {
    height: 400px;
    width: 700px;
    float: right;
    padding-top: 20px;
    margin-left: 40px;
}

#arrow {
    font-size: 3em;
}

.bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Main */

.small {
    width: 850px;
    margin: 0 auto;
}

main {
    margin-top: 100px;
}


/* Radio */

.lengend-action-buttons {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

label {
    font-weight: normal;
    font-size: 14px;
    Color: black;
    display: block;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"]+span:before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: -0.10em;
    border-radius: 1em;
    border: 0.35em solid #fff;
    box-shadow: 0 0 0 0.10em #0061ff;
    margin-right: 0.75em;
    transition: 0.5s ease all;
}

[type="radio"]:checked+span:before {
    background: #0061ff;
    box-shadow: 0 0 0 0.10em #0061ff;
}

[type="radio"]:focus+span::after {
    font-size: 1.2em;
    line-height: 1;
    vertical-align: -0.125em;
}


/* Tabelle */

.single,
.team1 {
    width: calc(100% / 3 - 20px);
    min-height: 900px;
    border: 1px solid #e3e3e5;
    padding: 0 20px;
    float: left;
    margin-right: 30px;
}

.team2 {
    width: calc(100% / 3 - 20px);
    min-height: 900px;
    border: 1px solid #e3e3e5;
    padding: 0 20px;
    float: left;
}

.tariffe {
    padding: 15px 0;
}

.mese {
    font-size: 12px;
    color: #7e8b96;
}

.features {
    padding: 20px 0;
    list-style-type: none;
}

.features>li {
    padding: 5px 5px;
    text-indent: -10px;
    margin: 0 10px;
}

.single1 {
    text-align: center;
    border-bottom: 1px solid #e3e3e5;
    padding: 10px 0;
}

.line-left {
    width: 50px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.team3 {
    width: 100%;
    margin: 30px 0;
    border: 1px solid #e3e3e5;
}

.col1 {
    width: 70%;
    padding: 30px;
    float: left;
}

.col1>h3,
h5 {
    padding-bottom: 10px;
}

.col1>p {
    font-size: 12px;
}

.col2 {
    width: 30%;
    float: right;
}


/* Partner */

.partner {
    margin: 90px 0;
    display: flex;
}

#friends {
    display: inline-block;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.testo {
    padding-top: 30px;
    margin: 0 30px;
}

.testo>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.testo>p {
    font-size: 12px;
    padding: 15px 0;
}

.testo :last-child {
    margin-top: 20px;
}


/* Operazioni */

.row {
    margin: 50px 0;
    height: 100%;
}

.row1 {
    margin: 100px 0;
    height: 100%;
}

.album {
    width: 30%;
    margin-right: 20px;
    float: left;
}

.foto {
    width: 100%;
    height: auto;
}

.album>h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.album>p {
    font-size: 12px;
}


/* Imprese */

.enterprise {
    margin-top: 40px;
    width: 100%;
}

.small>h2 {
    padding-bottom: 20px;
}


/* Center-Square */

.center-square {
    width: calc(40% - 60px);
    float: left;
    margin: 20px 30px;
}

.design {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.center-square>p {
    font-size: 12px;
}


/* Left-Square*/

.left-square {
    width: 30%;
    float: left;
}

.square-lightgreen {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #a2d39c;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-lightgreen:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#designit {
    background-image: url('../img/designit.svg');
    background-size: 80%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: white;
    filter: invert(100%);
}

.square-darkviolet {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #61082b;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-darkviolet:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#asu {
    background-image: url('../img/arizona_state_university.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.square-lightblue {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #0093ce;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-lightblue:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#uf {
    background-image: url('../img/university_of_florida.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.square-red {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #ff1c1c;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-red:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#topps {
    background-image: url('../img/topps.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}


/* Right-Square*/

.right-square {
    width: 30%;
    float: right;
}

.square-darkred {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #d5001f;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-darkred:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#bicycle {
    background-image: url('../img/world_bicycle_relief.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.square-lightgray {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #b4d0e7;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-lightgray:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#hearst {
    background-image: url('../img/hearst_corp.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.square-blue {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #0d2481;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-blue:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#lonely {
    background-image: url('../img/lonely_planet.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.square-yellow {
    width: calc(50% - 10px);
    height: 190px;
    background-color: #ffd830;
    float: left;
    border: 10px solid transparent;
    transition: border 1s;
}

.square-yellow:hover {
    border: 10px solid #d0e9cd;
    cursor: pointer;
}

#clear {
    background-image: url('../img/clear_channel.svg');
    background-size: 50%;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);
}


/* Dropbox Business */

.free {
    height: 300px;
    background-color: #b4d0e7;
}

.float-left {
    float: left;
    height: 300px;
    line-height: 300px;
}

.float-right {
    float: right;
    height: 300px;
    line-height: 300px;
}


/* Question */

.questions {
    margin-top: 100px;
}

.riga {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.question {
    display: inline-block;
    width: calc(70% - 10px);
    font-weight: bolder;
    font-size: 12px;
    height: 70px;
    line-height: 70px;
}

.angle-down {
    display: inline-block;
    width: 30%;
    text-align: right;
    height: 100%;
    line-height: 100%;
}

.dropdown {
    display: none;
    cursor: pointer;
    font-size: 12px;
}

.riga:hover .dropdown {
    display: block;
}


/* Footer */

footer {
    margin-top: 100px;
    background-color: black;
}

.contenitore-capitoli {
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
}

.capitolo {
    float: left;
    width: calc(25% - 50px)
}

.capitolo h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.capitolo nav ul li {
    list-style-type: none;
    font-size: 12px;
    padding: 5px 0;
}

.line {
    width: 50px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.language span {
    color: white;
    font-size: 12px;
}

.language {
    padding-bottom: 50px;
}