* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.image {
    display: inline-block;
}

.push {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.up-down-20px {
    margin: 20px 0;
}


/* Header */

.top-header {
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background-color: white;
    position: fixed;
}

.top-left-header {
    display: inline-block;
    width: calc(50% - 10px);
}

.top-right-header {
    display: inline-block;
    width: calc(50% - 10px);
    text-align: right;
}

#logo {
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.sezioni {
    display: inline-block;
    vertical-align: middle;
}

.sezioni>li {
    display: inline-block;
    margin: 0 20px;
}

#login {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#login:hover {
    color: lightblue;
}

button>#login {
    display: inline-block;
}

.navigazione {
    display: inline-block;
}


/* Jumbotron */

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;
    height: 600px;
}

.title {
    font-size: 3.5em;
}

.prova {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.text-area {
    font-size: 12px;
}

.text {
    padding: 20px 0;
    font-size: 12px;
}

#jumbo {
    height: 400px;
    width: 700px;
    float: right;
    padding-top: 20px;
    margin-left: 40px;
}

#arrow {
    font-size: 3em;
}

.prova:hover {
    color: lightblue;
}


/* Main */

.small {
    width: 850px;
    margin: 0 auto;
}

main {
    margin-top: 100px;
}


/* Radio */

.lengend-action-buttons {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

label {
    font-weight: normal;
    font-size: 14px;
    Color: black;
    display: block;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

[type="radio"]+span:before {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    vertical-align: -0.10em;
    border-radius: 1em;
    border: 0.35em solid #fff;
    box-shadow: 0 0 0 0.10em #0061ff;
    margin-right: 0.75em;
    transition: 0.5s ease all;
}

[type="radio"]:checked+span:before {
    background: #0061ff;
    box-shadow: 0 0 0 0.10em #0061ff;
}

[type="radio"]:focus+span::after {
    font-size: 1.2em;
    line-height: 1;
    vertical-align: -0.125em;
}


/* Tabelle */

.single,
.team1,
.team2 {
    width: 30%;
    height: 900px;
    border: 1px solid #e3e3e5;
    padding: 0 20px;
    float: left;
    margin-right: 20px;
}

.tariffe {
    padding: 15px 0;
}

.mese {
    font-size: 12px;
    color: #7e8b96;
}

.features {
    padding: 20px 0;
    list-style-type: none;
}

.features>li {
    padding: 5px 0;
}

.single1 {
    text-align: center;
    border-bottom: 1px solid #e3e3e5;
    padding: 10px 0;
}

.team3 {
    width: 100%;
    margin-top: 50px;
    border: 1px solid #e3e3e5;
    ;
}

.col1 {
    width: 70%;
    padding: 30px;
    float: left;
}

.col1>h3,
h5 {
    padding-bottom: 10px;
}

.col1>p {
    font-size: 12px;
}

.col2 {
    width: 30%;
    float: right;
}


/* Partner */

.partner {
    margin: 90px 0;
    display: flex;
}

#friend {
    height: 450px;
    width: 450px;
    object-fit: contain;
    flex: 1;
}

.botton-partner {
    background-color: white;
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#bottone {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.testo {
    flex: 1;
    padding-top: 30px;
    margin: 0 30px;
}

.testo>h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.testo>p {
    font-size: 12px;
    margin-bottom: 10px;
}


/* Operazioni */

.row {
    margin: 50px 0;
    height: 100%;
}

.row1 {
    margin: 100px 0;
    height: 100%;
}

.album {
    width: 30%;
    margin-right: 20px;
    float: left;
}

.foto {
    width: 100%;
    height: auto;
}

.album>h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.album>p {
    font-size: 12px;
}


/* Imprese */

.enterprise {
    margin-top: 40px;
    width: 100%;
}

.small>h2 {
    padding-bottom: 20px;
}


/* Center-Square */

.center-square {
    width: calc(40% - 60px);
    float: left;
    margin: 20px 30px;
}

.design {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.center-square>p {
    font-size: 12px;
}


/* Left-Square*/

.left-square {
    width: 30%;
    float: left;
}

.square-lightgreen {
    width: 50%;
    padding-top: 50%;
    background-color: #a2d39c;
    float: left;
}

.square-darkviolet {
    width: 50%;
    padding-top: 50%;
    background-color: #61082b;
    float: left;
}

.square-lightblue {
    width: 50%;
    padding-top: 50%;
    background-color: #0093ce;
    float: left;
}

.square-red {
    width: 50%;
    padding-top: 50%;
    background-color: #ff1c1c;
    float: left;
}


/* Right-Square*/

.right-square {
    width: 30%;
    float: right;
}

.square-darkred {
    width: 50%;
    padding-top: 50%;
    background-color: #d5001f;
    float: left;
}

.square-lightgray {
    width: 50%;
    padding-top: 50%;
    background-color: #b4d0e7;
    float: left;
}

.square-blue {
    width: 50%;
    padding-top: 50%;
    background-color: #0d2481;
    float: left;
}

.square-yellow {
    width: 50%;
    padding-top: 50%;
    background-color: #ffd830;
    float: left;
}


/* Dropbox Business */

.free {
    height: 300px;
    background-color: #b4d0e7;
}

.small .float-left>h2 {
    float: left;
    line-height: 300px;
}

.small .float-right>button {
    float: right;
    margin-top: 125px;
}

.float-right>button {
    background-color: white;
    border: 1px solid #6b6b6b;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.float-right button>a {
    text-decoration: none;
    display: block;
    color: #6b6b6b;
    ;
}


/* Question */

.question {
    margin-top: 100px;
}

.testo {
    float: left;
    font-weight: bolder;
}

.angle-down {
    float: right;
}