* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.image {
    display: inline-block;
}

button {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}


/* Header */

.top-header {
    width: 100%;
    height: 70px;
    padding: 20px 0;
    background-color: white;
    position: fixed;
}

.top-left-header {
    display: inline-block;
    width: calc(50% - 10px);
}

.top-right-header {
    display: inline-block;
    width: calc(50% - 10px);
    text-align: right;
}

#logo {
    display: inline;
    margin: 0 20px;
    vertical-align: middle;
}

.sezioni {
    display: inline-block;
    vertical-align: middle;
}

.sezioni>li {
    display: inline-block;
    margin: 0 20px;
}

#login {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#login:hover {
    color: lightblue;
}

button>#login {
    display: inline-block;
}

.navigazione {
    display: inline-block;
}


/* Jumbotron */

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;
    height: 600px;
}

.title {
    font-size: 3.5em;
}

button .prova {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.text-area {
    font-size: 12px;
}

.text {
    padding: 20px 0;
}

#jumbo {
    height: 400px;
    width: 700px;
    float: right;
    padding-top: 20px;
    margin-left: 40px;
}

#arrow {
    font-size: 3em;
}

.prova:hover {
    color: lightblue;
}